<form action="/signup/create" method="post">
  <input type="hidden" name="key" value="{{ web.input('key') or '' }}">
  <dl>
    <dt>Email:</dt>
    <dd>
      {{ web.input('email')}}
      <input type="hidden" name="email" value="{{ web.input('email') or '' }}">
    </dd>
    <dt>Full name:</dt><dd><input type="text" name="fullname" value="{{ web.input('fullname') or '' }}"></dd>
    <dt>Account:</dt><dd><input type="text" name="account" value="{{ web.input('account') or '' }}"></dd>
    <dt>Password:</dt><dd><input type="password" name="password" class="password"></dd>
    <dt>Confirmation:</dt><dd><input type="password" name="password_confirmation" class="password_confirmation"></dd>
  </dl>
  <div class="actions">
    <input type="submit" class="signup-button" value="Sign up"/>
  </div>
</form>

<ul>
{% for error in errors %}
  <li>{{ error.message }} ({{ error.property }})</li>
{% endfor %}
</ul>
